# {{ ansible_managed }}

{% for key, value in postfix_parameters.iteritems()|sort %}
{%   if value sameas true %}
{{ key }} = yes
{%   elif value samas false %}
{{ key }} = no
{%   elif value is string or value is number %}
{{ key }} = {{ value }}
{%   else %}
{{ key }} = {{ value|join(', ') }}
{%   endif %}
{% endfor %}
