# {{ ansible_managed }}
# postfix_sender_canonical: {{ postfix_sender_canonical|length }}
{% if postfix_sender_canonical|length > 0 %}

{%   for psc in postfix_sender_canonical|sort %}
{%     if psc.regex is defined and psc.address is defined %}
{{ psc.regex }}	{{ psc.address }}
{%     endif %}
{%   endfor %}
{% endif %}
